.card {
  max-width: 413px;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;

}

.card__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 20px;
  justify-content: center;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.card__like-btn {
background-image: url(../images/Like\ Icon.svg);
width: 23px;
height: 20px;
border: none;
background-color: transparent;

}

.card__like-btn:hover {
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
.card__list {
  display: grid;
  grid-template-columns:
  repeat(auto-fit, minmax(250px, 1fr));
}

  .card__image {
    height: 288px;
    max-width: 288px;
  }
  .card__title {
    font-size: 16px;
    line-height: 16px;
    max-width: 288px;
  }
  .card__content {
    max-width: 288px;
  }
}

@media screen and (max-width: 480px) {
  .card__list {
    display: grid;
    grid-template-columns:
    repeat(auto-fit, minmax(250px, 1fr));
  }

  .card__image {
    height: 288px;
    max-width: 288px;
  }
  .card__title {
    font-size: 16px;
    line-height: 16px;
    max-width: 288px;
  }
  .card__content {
    max-width: 288px;
  }
}